<router-outlet></router-outlet>
<div class="container">
<mat-card style="margin-top: 15px;" *ngFor="let p of products" >

    <mat-card-header>
      <div><button (click)="updateProduct(p.pId) " class="btn btn-info">Update</button>
        <router-outlet></router-outlet>
      </div>
      <div ><button (click)="deleteProduct(p.pId) " class="btn btn-danger" style="margin-left: 10px;">Delete</button></div>
        <mat-card-title>{{p.pName}}
        </mat-card-title>
        <mat-card-subtitle>
           Price: {{p.pPrice}} /-Rs
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      describtion:  {{p.pDesc}}
    </mat-card-content>

    <mat-card-content>
        <img style="width:50px;" src="{{p.pPhoto}} ">
        
      </mat-card-content>
    

    
    
</mat-card>
<br>
<a href="admin">Back</a>


</div>

