
<table class= "table1">
 
  <tr>
    <th style="width: 20%;">Electronics</th>
    <th style="width: 20%;">TV and Appliances</th>
    <th style="width: 20%;">Kids</th>
    <th style="width: 20%;">Gaming</th>
    <th style="width: 20%;">Meds</th>
  </tr>
</table>
<img  class="img"src="../../../assets/fbanner.jpeg">
<br>


<table class= "table">
  <tr aria-colspan="5">
    <th>Phones</th>
  </tr>
  <tr class="zoom">
    <th><a href="login"><img src="../../../assets/iphone.jpg" width="80%"></a></th>
    <th ><a href="login"><img src="../../../assets/oneplus.jpeg" width="60%"></a></th>
    <th ><a href="login"><img src="../../../assets/moto.jpeg" width="80%" height="80%"></a></th>
    <th><a href="login"><img src="../../../assets/samsung.jpeg" width="80%"></a></th>
    <th><a href="login"><img src="../../../assets/redmi.jpeg" width="80%"></a></th>
  </tr>
</table>


<br>


<table class= "table">
  <tr aria-colspan="5">
    <th>T-Shirts</th>
  </tr>
  <tr class="zoom">
    <th><a href="login"><img src="../../../assets/batman.jpeg" width="70%"></a></th>
    <th ><a href="login"><img src="../../../assets/feather.jpeg" width="70%"></a></th>
    <th ><a href="login"><img src="../../../assets/black.jpeg" width="70%"></a></th>
    <th><a href="login"><img src="../../../assets/avenger.jpeg" width="70%"></a></th>
    <th><a href="login"><img src="../../../assets/jodi.jpeg" width="70%"></a></th>
  </tr>
</table>

<br>


<table class= "table">
  <tr aria-colspan="5">
    <th>Smart-Watch</th>
  </tr>
  <tr class="zoom">
    <th><a href="login"><img src="../../../assets/firebolt.jpeg" width="70%"></a></th>
    <th ><a href="login"><img src="../../../assets/huwaei.jpeg" width="70%"></a></th>
    <th ><a href="login"><img src="../../../assets/pebble.jpeg" width="70%"></a></th>
    <th><a href="login"><img src="../../../assets/ring.jpeg" width="70%"></a></th>
    <th><a href="login"><img src="../../../assets/pebble.jpeg" width="70%"></a></th>
  </tr>
</table>

<div class="footer">
  <p> © 2007-2022 Liscence under<a href="#" style="color: red;"> Azizcorp</a>
    <br>
    For more details contact :<a href="#"> www.azizbaba.gmail.com</a>

  </p>
</div>


<div class="dropdown">

</div>



