<div class="row" style="margin-top: 30px;">
    <div class="col-sm-4" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><img src="../../../../assets/user.png" height="90px" width="90px"></h5>
            <a routerLink="/user-list" class="btn btn-primary">View User-List</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><img src="../../../../assets/catgry.png " height="100px" width="100px"></h5>
            <a href="categories" class="btn btn-primary">View category-List</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><img src="../../../../assets/product.jpeg " height="100px" width="100px"></h5>
            <a href="viewproduct" class="btn btn-primary">View Product-List</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-top: 20px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><img src="../../../../assets/add.jpeg " height="80px" width="80px"></h5>
            <a href="addcat" class="btn btn-primary">Add Category</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin-top: 20px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><img src="../../../../assets/add.jpeg " height="80px" width="80px"></h5>
            <a href="addproduct" class="btn btn-primary">Add Product</a>
          </div>
        </div>
      </div>
  </div>
 