<mat-toolbar color="primary">
    <a  style="color: red;"
    routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </a>
    <span>AzizBaBa.com</span>
    <span class="example-spacer"></span>
    <a 

    *ngIf="!isLoggedIn"
    routerLink="/login"
    
    style="margin-right: 20px; color: red;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </a>
    <a

    *ngIf="!isLoggedIn"
    routerLink="/signup"
     style="margin-right: 20px; color:red;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      Register
    </a>



    <a
    *ngIf="isLoggedIn "
     style="margin-right: 100px; color:white;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      {{"welcome "+user.username}}
    </a>

 



    <a

    (click)="logout()"
    *ngIf="isLoggedIn"
     style="margin-right: 30px; color:red;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      Logout
    </a>
  </mat-toolbar>